:root {
  --radius: 0.625rem; /* 10px — base radius for derived rounded-sm/md/lg/xl */

  /* Light Gray Shades */
  --color-gray-50: #f8f8f8;
  --color-gray-100: #f3f3f3;
  --color-gray-200: #ededed;
  --color-gray-300: #e2e2e2;
  --color-gray-400: #c7c7c7;
  --color-gray-500: #999999;
  --color-gray-550: #8e8d8d;
  --color-gray-600: #7c7c7c;
  --color-gray-700: #525252;
  --color-gray-800: #383838;
  --color-gray-900: #171717;
  --color-gray-950: #1e1e1e;
  --color-gray-1000: #c9c9c9;

  /* Light Red Shades */
  --color-red-50: #fff7f7;
  --color-red-100: #ffe7e7;
  --color-red-200: #ffd8d8;
  --color-red-300: #fdc2c2;
  --color-red-400: #f79596;
  --color-red-500: #e03636;
  --color-red-600: #cc2929;
  --color-red-700: #b52a2a;
  --color-red-800: #941f1f;
  --color-red-900: #6b1515;

  /* Light Blue Shades */
  --color-blue-50: #f2f9ff;
  --color-blue-100: #e6f4ff;
  --color-blue-200: #c8e6ff;
  --color-blue-300: #a7d7fd;
  --color-blue-400: #73bbf6;
  --color-blue-500: #0289f7;
  --color-blue-600: #007be0;
  --color-blue-700: #0070cc;
  --color-blue-800: #005ca3;
  --color-blue-900: #004880;
  --color-blue-950: #65b9fc;

  /* Light Green Shades */

  --color-green-50: #f2fdf4;
  --color-green-100: #e4faeb;
  --color-green-200: #c3f9d3;
  --color-green-300: #a6efc0;
  --color-green-400: #78e09f;
  --color-green-500: #46b37e;
  --color-green-600: #278f5e;
  --color-green-700: #137949;
  --color-green-800: #075e35;
  --color-green-900: #173b2c;

  /* Light Amber Shades */
  --color-amber-50: #fdfaed;
  --color-amber-100: #fff7d3;
  --color-amber-200: #feeda9;
  --color-amber-300: #fbdb73;
  --color-amber-400: #fbc53f;
  --color-amber-500: #e79913;
  --color-amber-600: #db7706;
  --color-amber-700: #b35309;
  --color-amber-800: #91400d;
  --color-amber-900: #763813;

  /* Light Orange Shades */
  --color-orange-50: #fff9f5;
  --color-orange-100: #ffefe4;
  --color-orange-200: #ffdec5;
  --color-orange-300: #ffcba3;
  --color-orange-400: #f4b07f;
  --color-orange-500: #e86c13;
  --color-orange-600: #d45a08;
  --color-orange-700: #bd3e0c;
  --color-orange-800: #9e3513;
  --color-orange-900: #6b2711;

  /* Light Yellow Shades */
  --color-yellow-50: #fffcef;
  --color-yellow-100: #fff7d3;
  --color-yellow-200: #f7e9a8;
  --color-yellow-300: #f5e171;
  --color-yellow-400: #f2d14b;
  --color-yellow-500: #edba13;
  --color-yellow-600: #d1930d;
  --color-yellow-700: #ab6e05;
  --color-yellow-800: #8c5600;
  --color-yellow-900: #733f12;

  /* Light Teal Shades */
  --color-teal-50: #f0fdfa;
  --color-teal-100: #e6f7f4;
  --color-teal-200: #bae8e1;
  --color-teal-300: #97ded4;
  --color-teal-400: #73d1c4;
  --color-teal-500: #36baad;
  --color-teal-600: #0b9e92;
  --color-teal-700: #0f736b;
  --color-teal-800: #115c57;
  --color-teal-900: #114541;

  /* Light Cyan Shades */
  --color-cyan-50: #f5fbfc;
  --color-cyan-100: #ddf7ff;
  --color-cyan-200: #b3e8f7;
  --color-cyan-300: #99e2f8;
  --color-cyan-400: #72d5f3;
  --color-cyan-500: #3bbde5;
  --color-cyan-600: #32a4c7;
  --color-cyan-700: #267a94;
  --color-cyan-800: #125c73;
  --color-cyan-900: #164759;

  /* Light Purple Shades */
  --color-purple-50: #fdfaff;
  --color-purple-100: #f6e9ff;
  --color-purple-200: #ecd3ff;
  --color-purple-300: #e2b9fc;
  --color-purple-400: #bf78fa;
  --color-purple-500: #9c45e3;
  --color-purple-600: #8642c2;
  --color-purple-700: #6e399d;
  --color-purple-800: #5c2f83;
  --color-purple-900: #401863;

  /* Light Pink Shades */
  --color-pink-50: #fff7fc;
  --color-pink-100: #fde8f5;
  --color-pink-200: #ffd5f0;
  --color-pink-300: #f9b9e0;
  --color-pink-400: #f77cc6;
  --color-pink-500: #e34aa6;
  --color-pink-600: #cf3a96;
  --color-pink-700: #9c2671;
  --color-pink-800: #801458;
  --color-pink-900: #570f3e;

  /* Light Violet Shades */
  --color-violet-50: #fbfaff;
  --color-violet-100: #eee8ff;
  --color-violet-200: #dbd5ff;
  --color-violet-300: #c9bafb;
  --color-violet-400: #a68efe;
  --color-violet-500: #7757ee;
  --color-violet-600: #664ecc;
  --color-violet-700: #4f3da1;
  --color-violet-800: #392980;
  --color-violet-900: #251959;

  --border: var(--color-gray-200);
  --background: var(--color-white);
  --foreground: var(--color-gray-900);
  --primary: var(--color-gray-900);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-gray-100);
  --secondary-foreground: var(--color-gray-700);
  --destructive: var(--color-red-600);
  --destructive-foreground: var(--color-red-500);
  --accent: var(--color-gray-200);
  --accent-foreground: var(--color-gray-800);
  --muted: var(--color-gray-100);
  --muted-foreground: var(--color-gray-600);
  --input: var(--color-gray-300);
  --ring: var(--color-ring-color);
  --card: var(--color-gray-50);
  --card-foreground: var(--color-gray-900);
  --popover: var(--color-white);
  --popover-foreground: var(--color-gray-800);
  --sidebar: var(--color-gray-50);
  --sidebar-foreground: var(--color-gray-700);
  --sidebar-primary: var(--color-white);
  --sidebar-primary-foreground: var(--color-gray-900);
  --sidebar-accent: var(--color-gray-200);
  --sidebar-accent-foreground: var(--color-gray-900);
  --sidebar-border: var(--color-gray-200);
  --sidebar-ring: var(--color-ring-color);

  --chart-1: var(--color-blue-400);
  --chart-2: var(--color-blue-500);
  --chart-3: var(--color-blue-600);
  --chart-4: var(--color-blue-700);
  --chart-5: var(--color-blue-800);

  /* Badge Styles - primary */
  --default-border-hover: var(--color-gray-400);
  --default-border-active: var(--color-gray-400);

  /* Badge Styles - Blue */
  --blue-primary: var(--color-blue-600);
  --blue-primary-hover: var(--color-blue-700);
  --blue-primary-active: var(--color-blue-800);
  --blue-primary-foreground: var(--color-blue-50);
  --blue-secondary: var(--color-blue-100);
  --blue-secondary-hover: var(--color-blue-200);
  --blue-secondary-active: var(--color-blue-300);
  --blue-secondary-foreground: var(--color-blue-700);
  --blue-border: var(--color-blue-300);
  --blue-border-hover: var(--color-blue-400);
  --blue-border-active: var(--color-blue-500);
  --blue-disabled: var(--color-blue-100);
  --blue-disabled-foreground: var(--color-blue-400);

  /* Badge Styles - Green */
  --green-primary: var(--color-green-600);
  --green-primary-foreground: var(--color-green-50);
  --green-secondary: var(--color-green-100);
  --green-secondary-foreground: var(--color-green-700);
  --green-border: var(--color-green-300);

  /* Badge Styles - Amber */
  --amber-primary: var(--color-amber-600);
  --amber-primary-foreground: var(--color-amber-50);
  --amber-secondary: var(--color-amber-100);
  --amber-secondary-foreground: var(--color-amber-700);
  --amber-border: var(--color-amber-300);

  /* Badge Styles - Red */
  --red-primary: var(--color-red-600);
  --red-primary-foreground: var(--color-red-50);
  --red-secondary: var(--color-red-100);
  --red-secondary-foreground: var(--color-red-700);
  --red-border: var(--color-red-300);

  /* Badge Styles - Violet */
  --violet-primary: var(--color-violet-600);
  --violet-primary-foreground: var(--color-violet-50);
  --violet-secondary: var(--color-violet-100);
  --violet-secondary-foreground: var(--color-violet-700);
  --violet-border: var(--color-violet-300);

  /* State */
  --success: var(--color-green-100);
  --success-border: var(--color-green-400);
  --success-foreground: var(--color-green-500);
  --warning: var(--color-amber-100);
  --warning-border: var(--color-amber-400);
  --warning-foreground: var(--color-amber-700);
  --error: var(--color-red-100);
  --error-border: var(--color-red-400);
  --error-foreground: var(--color-red-700);
  --autofill: var(--color-orange-50);
  --autofill-border: var(--color-orange-400);

  /* Spinner Border Color */
  --track-gray: var(--color-gray-200);
  --track-blue: var(--color-blue-200);
  --track-green: var(--color-green-200);
  --track-amber: var(--color-amber-200);
  --track-red: var(--color-red-200);

  /* Gradient Color */
  --spinner-gray: conic-gradient(
    from 90deg,
    rgba(56, 56, 56, 0.0018) 0deg,
    rgba(56, 56, 56, 1) 260.571deg,
    rgba(56, 56, 56, 0) 359.525deg,
    rgba(56, 56, 56, 0.0018) 360deg
  );

  --spinner-blue: conic-gradient(
    from 90deg,
    rgba(0, 109, 219, 0.0018) 0deg,
    rgba(0, 109, 219, 1) 260.571deg,
    rgba(0, 109, 219, 0) 359.525deg,
    rgba(0, 109, 219, 0.0018) 360deg
  );
  --spinner-green: conic-gradient(
    from 90deg,
    rgba(23, 117, 75, 0.0018) 0deg,
    rgba(23, 117, 75, 1) 260.571deg,
    rgba(23, 117, 75, 0) 359.525deg,
    rgba(23, 117, 75, 0.0018) 360deg
  );
  --spinner-amber: conic-gradient(
    from 90deg,
    rgba(231, 153, 19, 0.7133) 0deg,
    rgba(231, 153, 19, 1) 77.4deg,
    rgba(231, 153, 19, 0.7133) 167.4deg,
    rgba(231, 153, 19, 0) 360deg
  );
  --spinner-red: conic-gradient(
    from 90deg,
    rgba(205, 40, 40, 0.0018) 0deg,
    rgba(205, 40, 40, 1) 260.571deg,
    rgba(205, 40, 40, 0) 359.525deg,
    rgba(205, 40, 40, 0.0018) 360deg
  );
}
