@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "./tokens/base-colors.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    border-color: var(--border);
    outline-color: var(--ring);
  }

  html {
    background-color: var(--background);
    overscroll-behavior-y: none;
  }
}

